In [39]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt

In [40]:
import pandas as pd

In [41]:
import tensorflow as tf

In [42]:
%ls

0401CNN手寫辨識.ipynb         Untitled4.ipynb
0415 RNN imdb.ipynb           Untitled5.ipynb
Fashion MNIST CNN.ipynb       Untitled6.ipynb
Fashion MNIST.ipynb           game.csv
Fashion_MNIST_CNN.ipynb       helloworld.ipynb
README.md                     hw1.ipynb
RNN_hw.ipynb                  imdb_model_architecture.json
Untitled.ipynb                imdb_model_weights.h5
Untitled1.ipynb               myCNNmodel.h5
Untitled2.ipynb               project.ipynb
Untitled3.ipynb

In [48]:
df = pd.read_csv("game.csv")

In [49]:
df.head(3)

   Rank               Name  Global_Sales  platform Genre  Publisher  NA_Sales
0     1           1 Sports         82.74         1     1          1     41.49
1     2  Super Mario Bros.         40.24         2     2          1     29.08
2     3       Mario Kart 1         35.82         1     3          1     15.85

In [50]:
df.Global_Sales

0        82.74
1        40.24
2        35.82
3        33.00
4        31.37
         ...
16593     0.01
16594     0.01
16595     0.01
16596     0.01
16597     0.01
Name: Global_Sales, Length: 16598, dtype: float64

In [58]:
df.values

array([[1, '1 Sports', 82.74, ..., '1', 1, 41.49],
       [2, 'Super Mario Bros.', 40.24, ..., '2', 1, 29.08],
       [3, 'Mario Kart 1', 35.82, ..., '3', 1, 15.85],
       ...,
       [16598, 'SCORE International Baja 1000: The Official Game', 0.01,
        ..., '3', 5, 0.0],
       [16599, 'Know How 2', 0.01, ..., '5', 46, 0.0],
       [16600, 'Spirits & Spells', 0.01, ..., '2', 79, 0.01]],
      dtype=object)

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 7 columns):
Rank            16598 non-null int64
Name            16598 non-null object
Global_Sales    16596 non-null float64
platform        16598 non-null int64
Genre           16598 non-null object
Publisher       16598 non-null int64
NA_Sales        16598 non-null float64
dtypes: float64(2), int64(3), object(2)
memory usage: 907.8+ KB