In [3]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
df=pd.read_excel("GAME.xlsx")

In [5]:
df

       platform Genre  Publisher  NA_Sales
0             1     1          1     41.49
1             2     2          1     29.08
2             1     3          1     15.85
3             1     1          1     15.75
4             3     4          1     11.27
...         ...   ...        ...       ...
16593         9     2        542      0.01
16594        18     7        552      0.01
16595         7     3          5      0.00
16596         4     5         46      0.00
16597         9     2         79      0.01

[16598 rows x 4 columns]

In [6]:
df=df.values

In [9]:
df

array([[1, 1, 1, 41.49],
       [2, 2, 1, 29.08],
       [1, 3, 1, 15.85],
       ...,
       [7, 3, 5, 0.0],
       [4, 5, 46, 0.0],
       [9, 2, 79, 0.01]], dtype=object)

In [11]:
df2=pd.read_excel("y.xlsx")

In [12]:
df2=df2.values

In [13]:
df2

array([[8.274e+01],
       [4.024e+01],
       [3.582e+01],
       ...,
       [1.000e-02],
       [1.000e-02],
       [1.000e-02]])